/*Background Designs:
  Colorful - My Creation
  Sunshine - http://4vector.com/free-vector/beautiful-trend-background-05-vector-15375
  Green - http://www.psdgraphics.com/file/lime-color-background.jpg
  Purple - http://wonderfulengineering.com/35-hd-background-wallpapers-for-desktop-free-download/
  Dark - http://wallpaperswide.com/dark_background_2-wallpapers.html
*/




/**
 * Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/)
 * http://cssreset.com
 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/*---------------- Actual Style ----------------*/

html {
    height: 100vh;
    background: url(Images/Coloful%20Design.jpg);
    background-size: cover;
}

body {
    background-color: transparent;
}

:focus {
    outline: 0;
}

.noselect {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
