.gradescontainer {
    position: relative;
    width: 95vw;
    top: 10vh;
    margin: 0 auto;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.gradetable {
    border: solid .2vw rgba(0, 0, 0, .5);
    width: 95vw;
    background-color: rgba(0,0,0,.3);
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    font-family: "Calibri", sans-serif;
    color: rgba(255, 255, 255, .6);
    font-size: 2vw;
}

.gradetable td {
    height: 3vw;
    vertical-align: middle;
    border: solid .2vw rgba(0, 0, 0, .5);
}